@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: #707070;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.phone {
  background-color: #2698f9;
  width: 400px;
  height: 700px;
  padding: 10px 10px;
}

.screen {
  background-color: #ebedec;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}

.screen::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxq8Y3XxR19yKlrQiKV1LzvmZFK8HsxG8sh4m5Lr_OxJ6uBjK9")
    center center;
  background-size: cover;
  opacity: 0.3;
}

.status-bar {
  padding: 5px 0px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  color: black;
  opacity: 1;
}

.header {
  height: 50px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__column i {
  font-size: 20px;
}

.profile {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile .profile__image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: url(../../images/avatar.jpg) center center;
  background-size: cover;
}

.profile .profile__detail {
  padding: 10px 0;
}

.profile .profile__name {
  padding-bottom: 10px;
  text-align: center;
  color: #a63232;
}

.profile .profile__action {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.profile .profile__action-item {
  width: 47%;
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 40px rgba(118, 146, 180, 0.5);
}

.profile .profile__action-item:last-child {
  background-color: #2799fa;
}

.profile__action .profile__message {
  color: white;
}

.profile .profile__count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.profile__count .profile__count-column {
  padding: 0 20px;
  text-align: center;
}

.tab-bar {
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 60px;
  margin-left: -20px;
}

.tab-bar .tab-bar__list {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  font-size: 22px;
  margin: 0px;
}

.tab-bar .tab-bar__tab:first-child {
  color: #2698f9;
}
